<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ABOUT - OCTANE</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/favicon-32x32.png"
    />
    <!-- <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/favicon-16x16.png"
    /> -->
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="css/styleAbout.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="header">OCTANE</h1>
      <p class="des">
        <span>OCTANE</span>'s aim is to bring joy to all those we reach. We
        achieve this by creating exciting technologies for individuals around
        the globe to relish collectively. Since 2001, starting with the crafting
        of our propreitery playing cards in Paris, France, we have charted our
        unique course. In the present day, we are privileged to disseminate our
        characters, concepts, and realms through the platform of video games and
        the electronics sector.
      </p>
      <p class="slogan">PLAY. CONQUER. VICTORY.</p>
      <a href="/">Go HOME</a>
    </div>
  </body>
</html>
