<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CONTACT - OCTANE</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/favicon-32x32.png"
    />
    <!-- <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/favicon-16x16.png"
    /> -->
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="css/styleContact.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">Contact us at</div>
      <div class="links">
        <a href="/">
          <img src="../img/facebooksvg.png" alt="facebook icon" />
        </a>
        <a href="/">
          <img src="../img/twitter.png" alt="twitter icon" />
        </a>
        <a href="/">
          <img src="../img/reddit.png" alt="reddit icon" />
        </a>
      </div>
      <a href="/">Go HOME</a>
    </div>
  </body>
</html>
