<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LAPTOP - OCTANE</title>
    <link rel="stylesheet" href="css/stylePhone.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/favicon-32x32.png"
    />
    <!-- <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/favicon-16x16.png"
    /> -->
    <link rel="manifest" href="/site.webmanifest" />
    <script src="js/scriptPhone.js" defer></script>
  </head>
  <body>
    <div class="container1">
      <section class="nav">
        <div class="console">Octane Laptop Predator</div>
        <div class="navList">
          <a href="/">Home</a>
          <a href="/login">LogIn</a>
          <p>Hello <span class="span"> <%= name %> </span></p>
          <form action="/logout?_method=DELETE" method="POST">
            <button class="logout" type="submit">LogOut</button>
          </form>
          <button class="buy stripeBtn">Buy</button>
        </div>
      </section>
      <div class="tagline">Game.On.</div>
    </div>
    <img
      class="video"
      src="img/laptophome.jpg"
      width="100%"
    ></img>
    <div class="container2">
      <section class="container2child">
        <div class="consoleNames">Octane Laptop X & Octane Laptop Predator</div>
        <div class="consolePrices">From £39.99/month or 899 exchange offer</div>
      </section>
      <button class="container2btn stripeBtn">Buy</button>
    </div>
    <section class="description">
      <div class="container3">
        <div class="dynamic card">
          <div class="dynamicTxtDiv">
            <p class="dynamicTxt">Dynamic</p>
            <p class="dynamicTxt">Key Heights</p>
          </div>
          <img
            class="dynamicImg"
            src="img/laptopkey.jpg"
            alt="Images of phone with dynamic back colors"
            width="100%"
          />
        </div>
        <div class="cameraChip">
          <div class="camera card">
            <div class="cameraTxtDiv">
              <p class="cameraTxt">True colours</p>
              <p class="cameraTxt">Closest to the human eye.</p>
            </div>
            <img
              class="cameraImg"
              src="img/laptopcolor.jpg"
              alt="image of a flower"
              width="100%"
            />
          </div>
          <div class="chip card">
            <div class="chipTxtDiv">
              <p class="chipTxt">Fastest</p>
              <p class="chipTxt">chip in the market.</p>
            </div>
            <img
              class="chipImg"
              src="img/chip.jpg"
              alt="image of processor"
              width="100%"
            />
          </div>
        </div>
      </div>
      <div class="container4">
        <div class="battery card">
          <div class="batteryTxtDiv">
            <p class="batteryTxt">Battery</p>
            <p class="batterTxt">that lasts</p>
            <p class="batteryTxt">more than 7 days</p>
          </div>
        </div>
        <div class="film card">
          <div class="filmTxtDiv">
            <p class="filmTxt1">Edit films</p>
            <p class="filmTxt2">like a Pro.</p>
          </div>
          <video
            class="filmVid"
            autoplay
            muted
            loop
            width="100%"
            src="img/film.mp4"
          ></video>
        </div>
      </div>
      <div class="container5">
        <div class="action card">
          <div class="actionTxtDiv">
            <p class="actionTxt actionTxt1">Top of the line</p>
            <p class="actionTxt">Motherboard</p>
            <p class="actionTxt">with 5 years warranty</p>
          </div>
          <video
            class="actionVid"
            autoplay
            muted
            loop
            src="img/laptopstable.mp4"
          ></video>
        </div>
        <div class="gaming card">
          <div class="gamingTxtDiv">
            <p class="gamingTxt gamingTxt1">NVIDIA GPU RTX</p>
            <p class="gamingTxt">Game.ON.</p>
          </div>
          <video
            class="gamingVid"
            autoplay
            muted
            loop
            src="img/gaming.mp4"
          ></video>
        </div>
      </div>
      <div class="container6">
        <div class="left">
          <div class="screen card">
            <div class="screenTxtDiv">
              <p class="screenTxt screenTxt1">Gorilla Glass Victus</p>
              <p class="screenTxt">Toughest in the Market</p>
            </div>
            <img
              class="screenImg"
              src="img/laptopscr.jpg"
              alt="image of phone's screen"
              width="100%"
            />
          </div>
          <div class="selfie card">
            <div class="selfieTxtDiv">
              <p class="selfieTxt" style="font-size: large;">Webcam that streams directly to your phone</p>
            </div>
            <img
              class="selfieImg"
              width="100%"
              src="img/selfie.jpg"
              alt="selfie"
            />
          </div>
        </div>
        <div class="right">
          <div class="water card">
            <div class="waterTxtDiv">
              <p class="waterTxt waterTxt1" style="color: white">Water Resistant</p>
              <p class="waterTxt" style="color: white">Tested & Certified</p>
            </div>
            <img
              class="waterImg"
              width="100%"
              src="img/laptopwater.jpg"
              alt="image of phone inwater"
            />
          </div>
          <div class="night card">
            <div class="nightTxtDiv">
              <p class="nightTxt nightTxt1">True HDR</p>
              <p class="nightTxt">Now see night in true colors</p>
            </div>
            <video
              class="nightVid"
              autoplay
              muted
              loop
              src="img/night.mp4"
            ></video>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
