<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PRODUCTS - OCTANE</title>
    <link rel="stylesheet" href="css/styleProducts.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/favicon-32x32.png"
    />
    <!-- <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/favicon-16x16.png"
    /> -->
    <link rel="manifest" href="/site.webmanifest" />
    <script src="https://unpkg.co/gsap/dist/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
  </head>
  <body>
    <section class="productContainer consoleContainer">
      <div class="imgProductWrap consoleImgWrap">
        <img
          class="imgProduct consoleImg"
          src="img/o.jpg"
          alt="image of gaming consoles"
        />
      </div>
      <div class="info consoleInfo">
        <div class="des">
          <p>
            Explore our <br />
            state of the art <br />
            console
          </p>
          <a class="buy" href="/console">Buy now</a>
        </div>
        <div class="des">
          <p>
            Fitted with the fastest chip <br />
            and <br />
            the most powerful gpu in the market
          </p>
          <a class="buy" href="/console">Buy now</a>
        </div>
        <div class="des">
          <p>
            Over 1TB of inbuilt storage <br />
            that will satisfy all your gaming needs
          </p>
          <a class="buy" href="/console">Buy now</a>
        </div>
        <div class="des">
          <p>
            And <br />
            don't forget our award-winning console exclusive games
          </p>
          <a class="buy" href="/console">Buy now</a>
        </div>
      </div>
    </section>
    <section class="productContainer laptopContainer">
      <div class="info laptopInfo">
        <div class="des">
          <p>
            Or <br />
            are you in the mood <br />
            of a Gaming Laptop?
          </p>
          <a class="buy" href="/laptop">Buy now</a>
        </div>
        <div class="des">
          <p>
            Millitary Grade casing <br />
            that can handle your <br />
            gaming rage
          </p>
          <a class="buy" href="/laptop">Buy now</a>
        </div>
        <div class="des">
          <p>
            Equipped with propreitery <br />
            Nano-technology cooling <br />
            that can handle your gaming binge
          </p>
          <a class="buy" href="/laptop">Buy now</a>
        </div>
        <div class="des">
          <p>
            120 hz refresh rate <br />
            12GB RTX 3070 GPU <br />
            32GB RAM <br />
            1TB SSD + 1TB HDD <br />
            and the list goes on & on
          </p>
          <a class="buy" href="/laptop">Buy now</a>
        </div>
      </div>
      <div class="imgProductWrap laptopImgWrap">
        <img
          class="imgProduct laptopImg"
          src="img/c.jpg"
          alt="image of a gaming laptop"
        />
      </div>
    </section>
    <section class="productContainer gamepadContainer">
      <div class="imgProductWrap gamepadImgWrap">
        <img
          class="imgProduct consoleImg"
          src="img/gamepad.jpg"
          alt="image of gaming controllers"
        />
      </div>
      <div class="info gamepadInfo">
        <div class="des">
          <p>
            The OctaneT Controller <br />
            offers all the core features <br />
            you need for gaming <br />
            and is compatible with all popular consoles
          </p>
          <a class="buy" href="/gamepad">Buy now</a>
        </div>
        <div class="des">
          <p>
            Fully rechargable in just 10 minutes <br />
            Game-on for more than 72 hours in one go!
          </p>
          <a class="buy" href="/gamepad">Buy now</a>
        </div>
        <div class="des">
          <p>
            Haptip feedback on the trigger buttons <br />
            Immerese yourself in intense gunfights
          </p>
          <a class="buy" href="/gamepad">Buy now</a>
        </div>
      </div>
    </section>
    <section class="productContainer gpuContainer">
      <div class="info gpuInfo">
        <div class="des">
          <p>
            The OCTANE ACE <br />
            brings a performance-oriented <br />
            design to tackle <br />
            all upcoming tasks
          </p>
          <a class="buy" href="/gpu">Buy now</a>
        </div>
        <div class="des">
          <p>
            A powerful dual fan arrangement <br />
            embedded in a sturdy industrial design <br />
            allows this visually appealing gpu <br />
            to fit into any case
          </p>
          <a class="buy" href="/gpu">Buy now</a>
        </div>
        <div class="des">
          <p>
            Experience today's biggest blockbusters <br />
            like never before <br />
            with DLSS
          </p>
          <a class="buy" href="/gpu">Buy now</a>
        </div>
      </div>
      <div class="imgProductWrap gpuImgWrap">
        <img class="imgProduct gpuImg" src="img/gpu.jpg" alt="image of a gpu" />
      </div>
    </section>
    <section class="productContainer monitorContainer">
      <div class="imgProductWrap monitorImgWrap">
        <img
          class="imgProduct monitorImg"
          src="img/n.jpg"
          alt="image of a gaming monitor"
        />
      </div>
      <div class="info monitorInfo">
        <div class="des">
          <p>
            240Hz completely unleashes <br />
            top end GPUs bringing <br />
            unprecedented fluidity <br />
            to the picture on your screen
          </p>
          <a class="buy" href="/monitor">Buy now</a>
        </div>
        <div class="des">
          <p>
            Curved design <br />
            wraps around you <br />
            putting you at <br />
            the center of the action
          </p>
          <a class="buy" href="/monitor">Buy now</a>
        </div>
        <div class="des">
          <p>
            A pixel response time of 0.5 ms <br/ > means speed without the smear
            <br />
            for an enhanced experience
          </p>
          <a class="buy" href="/monitor">Buy now</a>
        </div>
      </div>
    </section>
    <section class="productContainer phoneContainer">
      <div class="info phoneInfo">
        <div class="des">
          <p>
            For Those Who Dare <br />
            Get ready to meet <br />
            the gaming phone of your dreams
          </p>
          <a class="buy" href="/phone">Buy now</a>
        </div>
        <div class="des">
          <p>
            The ROG Phone 7 Ultimate <br />
            packs the game-winning <br />
            power of the latest <br />
            Snapdragon® 8 Gen 2 chipset <br />
            with ray tracing hardware acceleration
          </p>
          <a class="buy" href="/phone">Buy now</a>
        </div>
        <div class="des">
          <p>
            The ROG Phone 7 Ultimate <br />
            doesn’t compromise <br />
            and neither should you
          </p>
          <a class="buy" href="/phone">Buy now</a>
        </div>
      </div>
      <div class="imgProductWrap phoneImgWrap">
        <img
          class="imgProduct phoneImg"
          src="img/phone.jpg"
          alt="image of a gaming phone"
        />
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.min.js"></script>
    <script src="js/scriptProducts.js" defer></script>
  </body>
</html>
